In [27]:
# Import Dependencies
import pandas as pd
import os

In [28]:
print( os.listdir("Temperature_File"))

['daily-summaries-2000.csv', 'daily-summaries-2003.csv', 'daily-summaries-2006.csv', 'daily-summaries-2009.csv', 'daily-summaries-2012.csv', 'daily-summaries-2015.csv', 'daily-summaries-2018.csv']

In [29]:
df_list = []

In [30]:
for file in os.listdir("Temperature_File"):
    df = pd.read_csv("Temperature_File/" + file)
    df_list.append(df)

        

result = pd.concat(df_list)
        
        #concatenate dataframes
#df = pd.concat(frames, sort=False)

In [31]:
result.head()

       STATION  LATITUDE  LONGITUDE  ELEVATION      DATE  TMAX  TMIN  TOBS
0  USW00094789  40.63915  -73.76401        3.4  1/1/2000   7.8  -0.6   NaN
1  USW00094789  40.63915  -73.76401        3.4  1/2/2000  12.2   2.8   NaN
2  USW00094789  40.63915  -73.76401        3.4  1/3/2000  15.6   7.8   NaN
3  USW00094789  40.63915  -73.76401        3.4  1/4/2000  12.8   8.3   NaN
4  USW00094789  40.63915  -73.76401        3.4  1/5/2000   8.3  -2.2   NaN

In [32]:
result.count()

STATION      21626
LATITUDE     21626
LONGITUDE    21626
ELEVATION    21626
DATE         21626
TMAX         21496
TMIN         21499
TOBS          4680
dtype: int64