In [151]:
# Import Dependencies
import pandas as pd
import os

In [152]:
df_list = []

In [153]:
print( os.listdir("Temperature_File"))

['daily-summaries-2000.csv', 'daily-summaries-2003.csv', 'daily-summaries-2006.csv', 'daily-summaries-2009.csv', 'daily-summaries-2012.csv', 'daily-summaries-2015.csv', 'daily-summaries-2018.csv']

In [154]:
for file in os.listdir("Temperature_File"):
    df = pd.read_csv("Temperature_File/" + file)
    df_list.append(df)

        

result = pd.concat(df_list)
        
        #concatenate dataframes
#df = pd.concat(frames, sort=False)

In [155]:
result.head()

       STATION  LATITUDE  LONGITUDE  ELEVATION      DATE  TMAX  TMIN  TOBS
0  USW00094789  40.63915  -73.76401        3.4  1/1/2000   7.8  -0.6   NaN
1  USW00094789  40.63915  -73.76401        3.4  1/2/2000  12.2   2.8   NaN
2  USW00094789  40.63915  -73.76401        3.4  1/3/2000  15.6   7.8   NaN
3  USW00094789  40.63915  -73.76401        3.4  1/4/2000  12.8   8.3   NaN
4  USW00094789  40.63915  -73.76401        3.4  1/5/2000   8.3  -2.2   NaN

In [156]:
result.count()

STATION      21626
LATITUDE     21626
LONGITUDE    21626
ELEVATION    21626
DATE         21626
TMAX         21496
TMIN         21499
TOBS          4680
dtype: int64

In [157]:
#add a column for average between TMAX and TMIN
#df['avg1'] = df[['TMAX', 'TMIN']].mean(axis=1,skipna=None)
#(df["TMAX"]+df["TMIN"])/2
#https://stackoverflow.com/questions/34734940/row-wise-average-for-a-subset-of-columns-with-missing-values

In [158]:
df = result
df['DATE'] = pd.to_datetime(df['DATE'])
df["YEAR"] = df["DATE"].dt.year
df = df.drop(columns=["TOBS"])
df["TEMP_AVG"] = df[["TMAX","TMIN"]].mean(axis=1)
sum_df = df.groupby(["STATION","YEAR","LATITUDE","LONGITUDE"])["TEMP_AVG"].mean()
sum_df.reset_index(drop=False)

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

        STATION  YEAR  LATITUDE  LONGITUDE   TEMP_AVG
0   USC00020404  2003  32.73060 -111.69170  24.045059
1   USC00020404  2006  32.73060 -111.69170  21.639315
2   USC00020404  2009  32.73060 -111.69170  22.109066
3   USC00020404  2012  32.73060 -111.69170  20.966433
4   USC00020404  2015  32.73060 -111.69170  21.131983
..          ...   ...       ...        ...        ...
56  USW00094789  2006  40.63915  -73.76401  13.238356
57  USW00094789  2009  40.63915  -73.76401  12.184658
58  USW00094789  2012  40.63915  -73.76401  13.906011
59  USW00094789  2015  40.63915  -73.76401  13.433014
60  USW00094789  2018  40.63915  -73.76401  12.635068

[61 rows x 5 columns]

In [159]:
#df.head(1000)
df.tail()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,TMAX,TMIN,YEAR,TEMP_AVG
3116,USW00003927,32.8978,-97.0189,170.7,2018-12-27,16.7,4.4,2018,10.55
3117,USW00003927,32.8978,-97.0189,170.7,2018-12-28,7.8,0.6,2018,4.20
3118,USW00003927,32.8978,-97.0189,170.7,2018-12-29,4.4,1.7,2018,3.05
3119,USW00003927,32.8978,-97.0189,170.7,2018-12-30,5.0,1.7,2018,3.35
3120,USW00003927,32.8978,-97.0189,170.7,2018-12-31,16.1,3.3,2018,9.70

In [161]:
#convert to CSV
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
df.to_csv('out.zip', index=False,
          compression=compression_opts)